.big-logo {
    width: 218px;
    height: 279px;
    cursor: pointer;
    margin-bottom: 30px;
}

.small-logo {
    position: absolute;
    width: 141px;
    height: 54px;
    cursor: pointer;
    left: 26px;
    top: 26px;
}

.start-practice-btn {
    margin: 15px 0;
    width: 345px;
    min-height: 72px;
    border: 3px solid #FFEF61;
    border-radius: 12px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.forward-icon {
    width: 11px;
    height: 16px;
    background-image: url("../assets/img/forward-icon.svg");
}

.partying-face {
    width: 36px;
    height: 36px;
    background-image: url("../assets/img/emoji_partying-face.svg");
}

.sad-but-relieved-face {
    width: 36px;
    height: 36px;
    background-image: url("../assets/img/emoji_sad-but-relieved-face.svg");
}

.deck-name {
    margin: auto 8px;
}

.deck-title {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    top: 80px
}

.card-front, .card-back{
    position: relative;
    width: 392px;
    height: 575.75px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
    justify-content: center;
}

.card-back.learned {
    border: 5px solid #000000;
}

.card-back.incorrect {
    border: 5px solid #F64848;
}

.card-back.correct {
    border: 5px solid #62DB38;
}

.card-back.zap {
    border: 5px solid #FFEF61;
}

.card-question {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}

.card-question-title {
    position: absolute;
    width: 280px;
    top: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.card-answer {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.card-number-counter {
    position: absolute;
    width: 28px;
    height: 21px;
    right: 12px;
    top: 12px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.turn-icon {
    position: absolute;
    width: 40px;
    height: 36px;
    cursor: pointer;
    right: 22px;
    bottom: 22px;
}

.btns-container {
    position: absolute;
    bottom: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 310px;
}

.btns-container button {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    width: 65px;
    height: 48px;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}

.resultpage .title {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.resultpage .title h1 {
    margin-right: 13px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.resultpage p {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}